/* CSS BY Aleasha Green */
/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
  border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */
:root {
  --midnight-blue: #1F2A44;
  --olive-green: #76885B;
  --champagne-gold: #E5C185;
  --linen: #F8F4EC;
  --dark-charcoal: #2B2B2B;
  --soft-white: #FAF9F6;
}

/* GLOBAL STYLES (mobile first/small) */
body {
  font-family: 'Playfair Display', Times, serif;
  color: var(--dark-charcoal);
  background-color: var(--soft-white);
  line-height: 1.3rem;
}

/* header */
header, nav, footer {
  text-align: center;
}
header {
  background-color: var(--midnight-blue);
  padding: 1.5rem 0;
}
header img {
  height: 35vh;
}
header p {
  font-style: italic;
  color: var(--soft-white);
}
h1 {
  font-size: 3rem;
  font-weight: 700;
  padding: 3rem 0 2rem;
  color: var(--soft-white);
}

/* nav */
nav {
  background-color: var(--champagne-gold);
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 1rem 0;
}
nav li a {
  text-decoration: none;
  color: var(--dark-charcoal);
}

/* main */
main {
  padding: 1.2rem;
}
main > section {
  border-bottom: 2px solid var(--champagne-gold);
  padding: 1.2rem 0;
}
h2 {
  font-size: 1.5rem;
  color: var(--midnight-blue);
  padding: 1.2rem 0;
}
#offerings > section {
  display: grid;
  column-gap: 1rem;
}
#offerings > section > :nth-child(3) {
  grid-column: 1 / -1;
}
.offering-option {
  background-color: var(--olive-green);
  color: var(--soft-white);
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.25);
  padding: 0.75rem;
  margin-bottom: 0.75rem;
}
main ul {
  list-style: disc;
  padding: 0 0.75rem;
}
h3 {
  font-size: 1.3rem;
  font-weight: 700;
  padding: 0.5rem 0;
}
#gallery > section {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  max-width: 100%;
  margin: 1.3rem 0;
}
#gallery img {
  max-width: 100%;
  height: ahuto;
  display: block;
}
#gallery a {
  background-color: var(--olive-green);
  text-decoration: none;
  color: var(--linen);
  font-weight: 700;
  border-radius: 5px;
  display: block;
  text-align: center;
  padding: 0.5rem;
}
figure {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.25);
}
figcaption {
  text-align: center;
  font-style: italic;
  padding: 0.5rem;
  font-size: 0.8rem;
}

/* footer */
footer {
  background-color: var(--midnight-blue);
  color: var(--soft-white);
}
footer a {
  text-decoration: none;
  color: var(--champagne-gold);
  font-weight: 700;
}
footer address {
  padding: 3rem;
}
footer ul {
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

/* MEDIA QUERY (medium) */
@media (min-width: 600px) {
  #gallery > section, #offerings > section {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* MEDIA QUERY (large) */
@media (min-width: 900px) {
#gallery > section {
    grid-template-columns: repeat(3, 1fr);
  }
  main {
    padding: 0 3rem;
  }
}

/* MEDIA QUERY (xl) */
@media (min-width: 1200px) {
  #gallery > section {
    grid-template-columns: repeat(5, 1fr);
  }
  main {
    padding: 0 10rem;
  }
}