/* CSS BY Aleasha Green */
/* IMPORTED FONTS */

/* CSS RESET */

/* ROOT VARIABLES */

/* GLOBAL STYLES (mobile first/small) */

/* MEDIA QUERY (medium) */
/* min-width: 600px */

/* MEDIA QUERY (large) */
/* min-width: 900px */

/* MEDIA QUERY (xl) */
/* min-width: 1200px */